.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio] + label {
  margin: 20px ;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=radio]:checked + label>img {
  width: 30px;
  height: 30px;
}


input[type=radio]:checked + label>img.selected {
  display: inline-block
}
input[type=radio]:checked + label .notSelected {
  display: none
}
/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img.selected {
  display: none
}
input[type=radio] + label .notSelected {
  border: 1px solid #B4BFD3;
  border-radius: 100px;
  height: 30px;
  width: 30px;
}




